# alias emc='emacsclient -c -a ""'
alias clip='xclip -o -selection clipboard'
alias pubip='curl -s curlmyip.com'
alias sendip='pubip | msmtp xificurC@gmail.com'
alias gl='git log --oneline'
alias gl1='git log -1 --oneline'
alias gc='git commit -am'
alias gp='git push -u origin master'
alias gu='git pull origin'
alias gst='git status'
alias gss='git status -s'
alias lsd='ls -1d */'
alias lf='ls -F'
